.center_wrapper {
  position: fixed;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.title {
  font-family: 'Roboto', serif;
  font-size: 45px;
  margin: 0;
}

.subtext {
  font-family: 'Montserrat', serif;
  font-size: 28px;
  margin: 0;
}

#gitimage {
  border: none;
  padding: 0%;
  margin: 0px;
  opacity: 0.45;
  transition: opacity 0.2s ease-in;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
} #gitimage:hover {
  opacity: 1;
}


/* Media Queries */
@media only screen and (min-width: 790px) {
  .bracket {
    font-family: 'Montserrat', serif;
    font-size: 210px;
    margin: 0px;
  }
  .text_wrapper {
    margin-top: 60px;
    float: right;
  }
}
/*Smaller than 825 width screen and it needs to go away*/
@media only screen and (max-width: 824px) {
  .bracket {
    display: none !important;
  }
  .text_wrapper {
    margin-top: 60px;
  }
}
